# === SERVER CONFIGURATION ===

# SERVER_HOST determines where the backend listens:
# - Use 'localhost' to allow only local reverse proxy (e.g., Apache) connections.
# - Use '0.0.0.0' to expose the app to external network (not recommended in production due weak ssl encryption).
SERVER_HOST=

# SERVER_PORT defines which port the Express server listens to.
SERVER_PORT=

# === MONGODB CONFIGURATION ===

# Hostname or IP address of the MongoDB server.
DB_HOST=localhost

# Port MongoDB is running on.
DB_PORT=27017

# Database name to use.
DB_NAME=mothbot_stag

# Authentication mechanism. SCRAM-SHA-256 is recommended for modern setups and will be the default.
DB_AUTH_MECHANISM=SCRAM-SHA-256

# Authentication database.
DB_AUTH_SOURCE=admin

# Username and password for authenticating to MongoDB.
DB_USER=
DB_PWD=

# === Secured routes ===

# To secure communication between your app and the backend, you need to set a SECRET_KEY.
# This secret key is used to generate and verify signatures for incoming requests.
#
# How to generate a secret key:
# Run the following command in your terminal to generate a random 32-character key:
#
#   openssl rand -base64 32
#
# Copy the generated key and assign it to the SECRET_KEY environment variable below.
# Example:
# SECRET_KEY='your-generated-secret-key'
#
# Keep this key private and do not share it publicly to ensure the security of your application.

SECRET_KEY = your_key_here